main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .leftSection {
    width: 66%;
    background: white;
    border-radius: 16px;

    h2 {
      margin: 48px 0 40px 36px;
    }
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    width: 31%;

    .wallet {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white;
      width: 100%;
      height: auto;
      margin-bottom: 40px;
      border-radius: 16px;
      #recommnedH3{
        margin-bottom: 20px;
      }
    }

    .hotdeal {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white;
      width: 100%;
      height: auto;
      border-radius: 16px;
    }
  }
}

.coin {
  margin: 4px 0;
}