header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 0 16px 0;
  background: white;
  margin-bottom: 24px;
  border-radius: 16px;

  h3 {
    margin-left: -50px;
    margin-right: 20px;
  }
}
