.poolProposal {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;

  h3 {
    text-align: center;
  }

  .inputWrapper {
    display: flex;
    align-items: center;
  }

  .textfield {
    width: 13vw;
    margin: 24px 24px 24px 24px;

    input {
    text-align: center;
    }
    // h4 {
    //   width: 80px;
    // }
  }
}
