.poolProposal {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  
  .coinAddBtn{
    background-color: #d51010;
    border: #ffb6b6;
    width: 145px;
    height: 35px;
    color: #fff;
    border-radius: 10px;

    &:hover{
      background-color: #9c8f8f;
    }
  }
  #modalTitle {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

  .inputWrapper {
    display: flex;
    align-items: center;
  }

  .textfield {
    width: 13vw;
    margin: 24px 24px 24px 24px;

    input {
    text-align: center;
    }
    // h4 {
    //   width: 80px;
    // }
  }
}
